@import "tailwindcss";

@theme {
  --color-primary: #37373f; /* Color principal (navbar, links) */
  --color-secondary: #000000; /* Color secundario (barra de redes) */
  /* --color-accent: #88c426; Verde para íconos o títulos destacados */
  --color-accent-primary: oklch(37.8% 0.077 168.94);
  --color-accent-secondary: oklch(55.3% 0.195 38.402);

  /* Superficies (fondos) */
  --color-surface-primary: #000000; /* Fondo de top bar (redes) */
  --color-surface-secondary: #37373f; /* Fondo de navbar con logo */

  /* Texto */
  --color-text-primary: #333333; /* Precio final del producto */
  --color-text-secondary: #343636; /* Título de sección */
  --color-text-tertiary: #706f6f; /* Título de card, precio tachado */
  --color-text-muted: #37373f; /* Links en navbar (similar a primary) */

  --breakpoint-3xl: 122rem;
}

body {
  font-family: var(--font-montserrat);
}

.custom-container {
  @apply w-[92%] md:w-[90%] lg:w-[80%] xl:w-[74%] mx-auto;
}

@layer utilities {
  .text-xl {
    font-size: 20px;
  }
  .animate-fade-down {
    animation: fade-down 0.25s ease-out both;
  }

  @keyframes fade-down {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-slide-in-left {
    animation: slide-in-left 0.45s ease-out both;
  }

  @keyframes slide-in-left {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0%);
    }
  }

  .animate-slide-in-right {
    animation: slide-in-right 0.45s ease-out both;
  }

  @keyframes slide-in-right {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .animate-fadeIn {
    animation: fadeIn 0.4s forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .animate-fadeInSlow {
    animation: fadeIn 0.8s forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
