@import "tailwindcss";

@theme {
  --color-accent: #88C426;
  --color-dark: #37373f;
}

body {
  font-family: var(--font-montserrat);
}

.custom-container {
  @apply w-[96%] lg:w-[80%] xl:w-[70%] mx-auto;
}

@layer utilities {
  .animate-fade-down {
    animation: fade-down 0.25s ease-out both;
  }

  @keyframes fade-down {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
